/* RunningProject.css */

.runningprojecttable-container {
    margin: 20px;
  }
  
  .runproject-table {
    margin-left: 20%;
    width: 70%;
    border-collapse: collapse;
  }
  
  .runproject-table th, .project-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .runproject-table th {
    background-color: #f2f2f2;
  }
  
  .not-started {
    background-color: #1e6ded8b; /* Blue color for Not Started */
  }
  
  .in-progress {
    background-color: #03d9f561; /* Green color for In Progress */
  }
  
  .completed {
    background-color: rgba(14, 241, 196, 0.736); /* Yellow color for Completed */
  }
  