/* ContractList.css */

.contract-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit; /* Inherit the link color from the parent */
  }
  
  .card {
    width: 200px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .image-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #007bff;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card-title {
    margin-top: 10px;
  }
  