/* Member.css */


  
  .Member_info_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 3%;
    margin-left: 15%;
  }
  
  .heading__and_addbtn h2 {
    font-size: 21px;
    font-weight: 600;
  }
  
  .addnew__newsUpdate_btn {
    cursor: pointer;
  }
  
  
  
  .data-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 16px;
    margin-left: 28%;

  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .member_create_pop_main_wrap {
    background: #1E27396F 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22222;
    display: flex;
    align-items: center;
    justify-content: center;  }
  
  .member_create_pop_content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 25px #575D6F34;
    border-radius: 30px;
    width: 100%;
    max-width: 570px;
    padding: 50px;  }
  
  .close__member_create_pop {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  .member__fields_form_wrap {
    /* Add styles for the form wrap */
  }
  
  .member__field_wrap_body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  
  .member_create_pop_group {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .member_create_pop_group input[type="text"] {
    border: 1px solid #292D4180;
    border-radius: 8px;
    color: #292D41;
    font-size: 12px;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    margin-top: 8px;
  }
  
  .member_create_pop_group label {
    color: #292D41;
    font-size: 14px;
    opacity: 0.6;
    padding: 0;
  }
  
  .member__field_wrap_footer {
    border-top: 1px solid #b5b9cc1f;
    margin-top: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
  }
  
  .member__field_wrap_footer_cancel {
    color: black;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: white;
  }
  
  .member__field_wrap_footer_save {
    color: #fff;
    font-size: 18px;
    border: 1px solid #00B3E3;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #00B3E3;
  }
  
  /* Additional styles can be added as needed */
  