/* Add this CSS to your existing stylesheet or create a new one */

.hiring_heading {
    color: #333;
    margin-left: 20%;
    margin-top: 2%;
  }
  
  .request-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .request-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-top: 2%;
  }
  
  .request-card:hover {
    transform: scale(1.05);
  }
  
  .request-card h3 {
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .request-card p {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    
  }
  
  
  .accept-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.accept-button:hover {
    background-color: #0056b3;
  }
  
  .reject-button {
    background-color: #868e96;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reject-button:hover {
    background-color: #6c757d;
  }
  
  /* Adjust the colors and styles based on your design preferences */
  