.leftSidebar__logo_navigation {
    position: fixed;
    top: 0;
    width: 30%;
    max-width: 220px;
    background: #e1e6f1;
    height: 100vh;
    overflow: auto;
    padding-top: 13px;
    z-index: 9999;
}

.header__logo_main {
    padding-left: 30px;
    margin-bottom: 25px;
}

.header__logo_main img {
    width: 100%;
    max-width: 88px;
}

.leftMenu__main_wrap a {
    padding: 12px 0 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    border-radius: 0 10px 10px 0;
    font-size: small;
}

.leftMenu__main_wrap a img {
    margin-right: 8px;
}
.leftMenu__main_wrap a:hover {
    background: #00B3E3;
    color: #fff;
    border-radius: 0 10px 10px 0;
}

.leftMenu__main_wrap a:hover img {
    filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(337deg) brightness(112%) contrast(100%);
}

.leftMenu__main_wrap a span {
    width: 80%;
}

.nav-link.active{
    background: #00B3E3;
    color: white;
}